NET "counter[0]"        LOC = T11;
NET "counter[1]"        LOC = R11;
NET "counter[2]"        LOC = N11;
NET "counter[3]"        LOC = M11;
NET "counter[4]"        LOC = V15;
NET "counter[5]"        LOC = U15;
NET "counter[6]"        LOC = V16;
NET "counter[7]"        LOC = U16;

NET "clk"        LOC = V10;
NET "reset"        LOC = C9;
